<div class="entry">
  <ul class="props">
    {{#each props}}
      <li class="tota11y">
        <strong class="tota11y style-list-property">{{@key}}:</strong>
        {{this}}
      </li>
    {{/each}}
  </ul>
</div>